<h2 class="content-block">Clinic List</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <dx-button (click)="this.createPopupVisible = true;" text="Add Clinic"></dx-button>
    <app-create-clinic-popup
      (createClinic)="createClinic($event)"
      [(visible)]="createPopupVisible">
    </app-create-clinic-popup>

    <dx-button (click)="this.updatePopupVisible = true;"
               [disabled]="!this.selectedRow"
               text="Update Clinic" type="normal">
    </dx-button>
    <app-update-clinic-popup
      (updateClinic)="updateClinic($event)"
      [(visible)]="updatePopupVisible"
      [selectedClinic]="selectedRow!">
    </app-update-clinic-popup>

    <dx-data-grid (onSelectionChanged)="onSelectionChanged($event)"
                  [(selectedRowKeys)]="selectedRowKeys"
                  [columnAutoWidth]="true"
                  [columnHidingEnabled]="true"
                  [dataSource]="customDataSource"
                  [focusedRowEnabled]="false"
                  [showBorders]="true"
                  class="dx-card wide-card">

      <dxo-selection mode="single"></dxo-selection>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showInfo]="true" [showPageSizeSelector]="true"></dxo-pager>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-editing [allowDeleting]="true" [confirmDelete]="true" mode="row"></dxo-editing>

      <dxi-column caption="Name" dataField="name"></dxi-column>
      <dxi-column caption="Location" dataField="location"></dxi-column>
      <dxi-column caption="Email" dataField="email"></dxi-column>
      <dxi-column caption="Sendgrid Api Key" dataField="sendgridApiKey"></dxi-column>
      <dxo-master-detail [enabled]="true" template="details"></dxo-master-detail>

      <div *dxTemplate="let clinic of 'details'">
        <app-laboratories-datagrid
          [clinic]="clinic.data">
        </app-laboratories-datagrid>
      </div>

    </dx-data-grid>
  </div>
</div>
