<h2 class="content-block">Clinic List</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <!--    button & popup for creating a new clinic -->
    <dx-button (click)="this.createClinicPopupVisible = true;" text="Add new Clinic"></dx-button>
    <dx-popup
      [(visible)]="createClinicPopupVisible"
      [dragEnabled]="false"
      [height]="600"
      [showCloseButton]="true"
      [showTitle]="true"
      [width]="500"
      title="Create new Clinic"
    >
      <div *dxTemplate="let data of 'content'">
        <form (submit)="createClinic($event)">
          <dx-form [formData]="createClinicFormData">
            <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: 'Name' }" dataField="name" editorType="dxTextBox">
              <dxi-validation-rule message="Name is required" type="required"></dxi-validation-rule>
              <dxo-label [visible]="false"></dxo-label>
            </dxi-item>

            <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: 'Location' }" dataField="location" editorType="dxTextBox">
              <dxi-validation-rule message="Location is required" type="required"></dxi-validation-rule>
              <dxo-label [visible]="false"></dxo-label>
            </dxi-item>

            <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: 'SendGrid Api Key' }" dataField="sendgridApiKey" editorType="dxTextBox">
              <dxi-validation-rule message="SendGrid Api Key is required" type="required"></dxi-validation-rule>
              <dxo-label [visible]="false"></dxo-label>
            </dxi-item>

            <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: 'Email' }" dataField="email" editorType="dxTextBox">
              <dxi-validation-rule message="Email is required" type="required"></dxi-validation-rule>
              <dxi-validation-rule message="Email is invalid" type="email"></dxi-validation-rule>
              <dxo-label [visible]="false"></dxo-label>
            </dxi-item>

            <dxi-item itemType="button">
              <dxo-button-options
                [text]="'Create New Clinic'"
                [useSubmitBehavior]="true"
                type="default"
                width="100%"
              >
              </dxo-button-options>
            </dxi-item>
          </dx-form>
        </form>
      </div>
    </dx-popup>

    <!--    button & popup for update -->
    <dx-button (click)="this.updatePopupVisible = true;" text="Update" type="normal"></dx-button>
    <dx-popup
      [(visible)]="updatePopupVisible"
      [dragEnabled]="false"
      [height]="600"
      [showCloseButton]="true"
      [showTitle]="true"
      [width]="600"
      title="Update Clinic"
    >
      <div *dxTemplate="let data of 'content'">

        <form (submit)="updateClinic($event)">
          <dx-form [formData]="updateClinicFormData">
            <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: selectedRow.name }" dataField="name" editorType="dxTextBox">
              <dxi-validation-rule message="Name is required" type="required"></dxi-validation-rule>
              <dxo-label [visible]="false"></dxo-label>
            </dxi-item>

            <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: selectedRow.location }" dataField="location" editorType="dxTextBox">
              <dxi-validation-rule message="Location is required" type="required"></dxi-validation-rule>
              <dxo-label [visible]="false"></dxo-label>
            </dxi-item>

            <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: selectedRow.sendgridApiKey }" dataField="sendgridApiKey" editorType="dxTextBox">
              <dxi-validation-rule message="SendGrid Api Key is required" type="required"></dxi-validation-rule>
              <dxo-label [visible]="false"></dxo-label>
            </dxi-item>

            <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: selectedRow.email }" dataField="email" editorType="dxTextBox">
              <dxi-validation-rule message="Email is required" type="required"></dxi-validation-rule>
              <dxi-validation-rule message="Email is invalid" type="email"></dxi-validation-rule>
              <dxo-label [visible]="false"></dxo-label>
            </dxi-item>

            <dxi-item itemType="button">
              <dxo-button-options
                [text]="'Update Clinic'"
                [useSubmitBehavior]="true"
                type="default"
                width="100%"
              >
              </dxo-button-options>
            </dxi-item>
          </dx-form>
        </form>

      </div>
    </dx-popup>

    <dx-data-grid [columnAutoWidth]="true"
                  [columnHidingEnabled]="true"
                  [dataSource]="customDataSource"
                  [focusedRowEnabled]="false"
                  [showBorders]="true"
                  (onSelectionChanged)="onSelectionChanged($event)"
                  [(selectedRowKeys)]="selectedRowKeys"
                  class="dx-card wide-card">

      <dxo-selection mode="single"></dxo-selection>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showInfo]="true" [showPageSizeSelector]="true"></dxo-pager>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-editing mode="row" [allowDeleting]="true" [confirmDelete]="true"></dxo-editing>

      <dxi-column [width]="90" caption="ID" dataField="id"></dxi-column>
      <dxi-column caption="Name" dataField="name"></dxi-column>
      <dxi-column caption="Location" dataField="location"></dxi-column>
      <dxi-column caption="Email" dataField="email"></dxi-column>
      <dxi-column caption="Sendgrid Api Key" dataField="sendgridApiKey"></dxi-column>
      <dxo-master-detail [enabled]="true" template="details"></dxo-master-detail>

      <!--      todo: update, delete, create laboratories for clinic -->
      <!--      template for laboratories of clinic-->
      <div *dxTemplate="let clinic of 'details'">
        <div class="master-detail-caption">
          {{ clinic.name }}
        </div>

        <dx-data-grid
          [dataSource]="clinic.data.laboratories"
          [showBorders]="true"
          [columnAutoWidth]="true"
        >
          <dxi-column caption="ID" dataField="id"></dxi-column>
          <dxi-column caption="Location" dataField="location"></dxi-column>
          <dxi-column caption="TestTypes" cellTemplate="testTypesTemplate"></dxi-column>

          <div *dxTemplate="let laboratory of 'testTypesTemplate'">
            <div *ngFor="let testType of laboratory.data.testTypes">
              <span>{{ testType.name }}</span>
            </div>
          </div>
        </dx-data-grid>
      </div>

    </dx-data-grid>

  </div>
</div>
