<h2 class="content-block">Clinic List</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <!--    button & popup for creating a new clinic -->
    <dx-button (click)="this.createClinicPopupVisible = true;" text="Add new Clinic"></dx-button>
    <app-create-clinic-popup
      [(visible)]="createClinicPopupVisible"
      (createClinic)="createClinic($event)">
    </app-create-clinic-popup>


    <!--    button & popup for update -->
    <dx-button (click)="this.updatePopupVisible = true;" text="Update" type="normal"></dx-button>
    <app-update-clinic-popup
      [(visible)]="updatePopupVisible"
      [selectedClinic]="selectedRow"
      (updateClinic)="updateClinic($event)">
    </app-update-clinic-popup>


    <dx-data-grid [columnAutoWidth]="true"
                  [columnHidingEnabled]="true"
                  [dataSource]="customDataSource"
                  [focusedRowEnabled]="false"
                  [showBorders]="true"
                  (onSelectionChanged)="onSelectionChanged($event)"
                  [(selectedRowKeys)]="selectedRowKeys"
                  class="dx-card wide-card">

      <dxo-selection mode="single"></dxo-selection>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showInfo]="true" [showPageSizeSelector]="true"></dxo-pager>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-editing mode="row" [allowDeleting]="true" [confirmDelete]="true"></dxo-editing>

      <dxi-column [width]="90" caption="Id" cellTemplate="rowNumberTemplate"></dxi-column>
      <dxi-column caption="Name" dataField="name"></dxi-column>
      <dxi-column caption="Location" dataField="location"></dxi-column>
      <dxi-column caption="Email" dataField="email"></dxi-column>
      <dxi-column caption="Sendgrid Api Key" dataField="sendgridApiKey"></dxi-column>
      <dxo-master-detail [enabled]="true" template="details"></dxo-master-detail>

      <div *dxTemplate="let data of 'rowNumberTemplate'">
        {{ data.rowIndex + 1 }}
      </div>

      <!--      todo: update, delete, create laboratories for clinic -->
      <!--      template for laboratories of clinic-->
      <div *dxTemplate="let clinic of 'details'">
        <div class="master-detail-caption">
          {{ clinic.name }}
        </div>

        <dx-data-grid
          [dataSource]="clinic.data.laboratories"
          [showBorders]="true"
          [columnAutoWidth]="true"
        >
          <dxi-column caption="ID" dataField="id"></dxi-column>
          <dxi-column caption="Location" dataField="location"></dxi-column>
          <dxi-column caption="TestTypes" cellTemplate="testTypesTemplate"></dxi-column>

          <div *dxTemplate="let laboratory of 'testTypesTemplate'">
            <div *ngFor="let testType of laboratory.data.testTypes">
              <span>{{ testType.name }}</span>
            </div>
          </div>
        </dx-data-grid>
      </div>

    </dx-data-grid>

  </div>
</div>
