<h2 class="content-block">Test Type List</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">

    <dx-data-grid [columnAutoWidth]="true"
                  [columnHidingEnabled]="true"
                  [dataSource]="dataSource"
                  [focusedRowEnabled]="false"
                  [showBorders]="true"
                  class="dx-card wide-card">

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showInfo]="true" [showPageSizeSelector]="true"></dxo-pager>
      <dxo-filter-row [visible]="true"></dxo-filter-row>

      <!-- Define the columns for UserDto data -->
      <dxi-column [width]="90" caption="ID" dataField="id"></dxi-column>
      <dxi-column caption="Email" dataField="email"></dxi-column>
      <dxi-column caption="Username" dataField="username"></dxi-column>
      <dxi-column cellTemplate="viewButtonTemplate"></dxi-column>
      <dxi-column cellTemplate="deleteButtonTemplate"></dxi-column>

      <div *dxTemplate="let data of 'deleteButtonTemplate'">
        <dx-button
          (click)="deleteUser(data.data.id)"
          [text]="'Delete'"
        ></dx-button>
      </div>

      <div *dxTemplate="let data of 'viewButtonTemplate'">
        <dx-button
          (click)="viewPatient(data.data.id)"
          [text]="'View Patient'"
        ></dx-button>
      </div>

    </dx-data-grid>
  </div>
</div>


