<h2 class="content-block">Test Type List</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <dx-button
      (click)="viewPatient(selectedRow?.id)"
      [text]="'View Patient Tests'"
      [disabled]="!selectedRow"
    ></dx-button>
    <dx-button
      (click)="viewPatientInformation(selectedRow?.id)"
      [text]="'View Patient Information'"
      [disabled]="!selectedRow"
    ></dx-button>

    <dx-data-grid
      [dataSource]="customDataSource"
      [columnAutoWidth]="true"
      [columnHidingEnabled]="true"
      [focusedRowEnabled]="true"
      [showBorders]="true"
      (onSelectionChanged)="onSelectionChanged($event)"
      [(selectedRowKeys)]="selectedRowKeys"
      class="dx-card wide-card">

      <dxo-selection mode="single"></dxo-selection>
      <dxo-remote-operations [groupPaging]="true"></dxo-remote-operations>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showInfo]="true" [showPageSizeSelector]="true"></dxo-pager>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-editing mode="row" [allowDeleting]="true" [confirmDelete]="true"></dxo-editing>

      <dxi-column [width]="90" caption="ID" dataField="id"></dxi-column>
      <dxi-column caption="Email" dataField="email"></dxi-column>
      <dxi-column caption="Username" dataField="username"></dxi-column>
    </dx-data-grid>
  </div>
</div>
