<h2 class="content-block">Test Request Create</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">

    <div class="dx-fieldset">

      <div class="dx-field">
        <div class="dx-field-label">
          User
        </div>

        <div class="dx-field-value">
          <dx-select-box
            (onValueChanged)="selectedUserId = $event.value"
            [dataSource]="users"
            [searchEnabled]="true"
            [showClearButton]="true"
            displayExpr="username"
            valueExpr="id"
          ></dx-select-box>
        </div>
      </div>

      <div class="dx-field">
        <div class="dx-field-label">
          Test Types
        </div>

        <div class="dx-field-value">
          <dx-tag-box
            (onValueChanged)="selectedTestTypesIds = $event.value"
            [applyValueMode]="'useButtons'"
            [dataSource]="testTypes"
            [searchEnabled]="true"
            [searchExpr]="['name']"
            [searchMode]="'contains'"
            [showClearButton]="true"
            [value]="selectedTestTypesIds"
            displayExpr="name"
            valueExpr="id"
          ></dx-tag-box>
        </div>
      </div>
    </div>

    <div class="dx-fieldset">
      <button (click)="createTestRequest()" class="dx-button dx-button-success">
        Save Test Request
      </button>
    </div>

  </div>
</div>
