<h2 class="content-block">Patient Information</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <ng-container *ngIf="patient; else addPatientButton">
      <dx-form [colCountByScreen]="colCountByScreen"
               [formData]="patient"
               [readOnly]="true"
               id="form"
               labelLocation="top">
        <dxi-item
          [label]="{ text: 'CNP' }"
          dataField="cnp"
        ></dxi-item>
        <dxi-item
          [editorOptions]="{ displayFormat: 'yyyy-MM-dd' }"
          [label]="{ text: 'Date of Birth' }"
          dataField="dateOfBirth"
        ></dxi-item>
        <dxi-item
          [label]="{ text: 'Weight' }"
          dataField="weight"
        ></dxi-item>
        <dxi-item
          [label]="{ text: 'Height' }"
          dataField="height"
        ></dxi-item>
        <dxi-item
          [label]="{ text: 'Gender' }"
          dataField="gender"
        ></dxi-item>
      </dx-form>
      <dx-button (onClick)="showUpdatePopup()" text="Update" type="success"></dx-button>
    </ng-container>

    <ng-template #addPatientButton>
      <dx-button (onClick)="showUpdatePopup()" text="Add Patient Information" type="success"></dx-button>
    </ng-template>

    <dx-popup
      [(visible)]="updatePopupVisible"
      [dragEnabled]="false"
      [showCloseButton]="true"
      [showTitle]="true"
      [title]="patient ? 'Update Patient Information' : 'Add Patient Information'"
    >
      <div *dxTemplate="let data of 'content'">
        <form (submit)="upsertPatientInfo($event)">
          <dx-form
            [colCountByScreen]="colCountByScreen"
            [formData]="patientCopy"
            labelLocation="top">
            <dxi-item
              [editorOptions]="{ mode: 'text' }"
              [label]="{ text: 'CNP' }"
              dataField="cnp"
            ></dxi-item>
            <dxi-item
              [label]="{ text: 'Date of Birth' }"
              dataField="dateOfBirth"
              editorType="dxDateBox"
            ></dxi-item>
            <dxi-item
              [editorOptions]="{ mode: 'text' }"
              [label]="{ text: 'Weight' }"
              dataField="weight"
            ></dxi-item>
            <dxi-item
              [editorOptions]="{ mode: 'text' }"
              [label]="{ text: 'Height' }"
              dataField="height"
            ></dxi-item>
            <dxi-item
              [editorOptions]="{
                  items: ['Male', 'Female'],
                  value: patientCopy.gender
                }"
              [label]="{ text: 'Gender' }"
              dataField="gender"
              editorType="dxSelectBox"
            ></dxi-item>
            <dxi-item itemType="button">
              <dxo-button-options
                [text]="patient ? 'Update Patient Info' : 'Add Patient Info'"
                [useSubmitBehavior]="true"
                type="default"
                width="100%"
              >
              </dxo-button-options>
            </dxi-item>
          </dx-form>
        </form>
      </div>
    </dx-popup>
  </div>
</div>
