<dx-popup
  [(visible)]="visible"
  [dragEnabled]="false"
  [height]="600"
  [showCloseButton]="true"
  [showTitle]="true"
  [width]="500"
  title="Create Laboratory TEST"
  (onHiding)="onHiding()">
  <div *dxTemplate="let data of 'content'">

    <form (submit)="onSubmit($event)">
      <dx-tag-box
        label="'Select TestTypes'"
        (onValueChanged)="selectedTestTypesIds = $event.value"
        [applyValueMode]="'useButtons'"
        [dataSource]="testTypes"
        [searchEnabled]="true"
        [searchExpr]="['name']"
        [searchMode]="'contains'"
        [showClearButton]="true"
        [value]="selectedTestTypesIds"
        displayExpr="name"
        valueExpr="id"
      ></dx-tag-box>

      <dx-form [formData]="formData">
        <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: 'Location' }" dataField="location" editorType="dxTextBox">
          <dxi-validation-rule message="Location is required" type="required"></dxi-validation-rule>
          <dxo-label [visible]="true"></dxo-label>
        </dxi-item>

        <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: clinicId }" dataField="clinicId" editorType="dxTextBox">
          <dxi-validation-rule message="ClinicId is required" type="required"></dxi-validation-rule>
          <dxo-label [visible]="true"></dxo-label>
        </dxi-item>

        <dxi-item itemType="button">
          <dxo-button-options
            [text]="'Create New Laboratory'"
            [useSubmitBehavior]="true"
            type="default"
            width="100%"
          >
          </dxo-button-options>
        </dxi-item>

      </dx-form>
    </form>
  </div>
</dx-popup>
