<dx-popup
  [(visible)]="visible"
  [dragEnabled]="false"
  [height]="750"
  [showCloseButton]="true"
  [showTitle]="true"
  [width]="750"
  title="Create new Doctor"
  (onHiding)="onHiding()">
  <div *dxTemplate="let data of 'content'">
    <form (submit)="onSubmit($event)">
      <dx-form [formData]="formData">

        <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: 'Username' }" dataField="username" editorType="dxTextBox">
          <dxi-validation-rule message="Username is required" type="required"></dxi-validation-rule>
          <dxo-label [visible]="false"></dxo-label>
        </dxi-item>

        <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: 'First Name' }" dataField="firstName" editorType="dxTextBox">
          <dxi-validation-rule message="First Name is required" type="required"></dxi-validation-rule>
          <dxo-label [visible]="false"></dxo-label>
        </dxi-item>

        <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: 'Family Name' }" dataField="familyName" editorType="dxTextBox">
          <dxi-validation-rule message="Family Name is required" type="required"></dxi-validation-rule>
          <dxo-label [visible]="false"></dxo-label>
        </dxi-item>

        <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: 'Email', mode: 'email' }" dataField="email" editorType="dxTextBox">
          <dxi-validation-rule message="Email is required" type="required"></dxi-validation-rule>
          <dxi-validation-rule message="Email is invalid" type="email"></dxi-validation-rule>
          <dxo-label [visible]="false"></dxo-label>
        </dxi-item>

        <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: 'Password', mode:'password' }" dataField="password" editorType="dxTextBox">
          <dxi-validation-rule message="Password is required" type="required"></dxi-validation-rule>
          <dxo-label [visible]="false"></dxo-label>
        </dxi-item>

        <!--            todo: add a tagbox with clinics instead -->
        <dxi-item [editorOptions]="{ stylingMode: 'filled', placeholder: 'ClinicId' }" dataField="clinicId" editorType="dxTextBox">
          <dxi-validation-rule message="ClinicId is required" type="required"></dxi-validation-rule>
          <dxo-label [visible]="false"></dxo-label>
        </dxi-item>


        <dxi-item itemType="button">
          <dxo-button-options
            [text]="'Create New Doctor'"
            [useSubmitBehavior]="true"
            type="default"
            width="100%"
          >
          </dxo-button-options>
        </dxi-item>

      </dx-form>
    </form>
  </div>
</dx-popup>
