<h2 class="content-block">Doctor List</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <dx-button (click)="this.createPopupVisible = true;"
               text="Add new Doctor"></dx-button>
    <app-doctor-create-popup
      (createDoctor)="createDoctor($event)"
      [(visible)]="createPopupVisible">
    </app-doctor-create-popup>

    <dx-button (click)="this.updatePopupVisible = true;"
               [disabled]="!this.selectedRow" text="Update"
               type="normal"></dx-button>
    <app-doctor-update-popup
      (updateDoctor)="updateDoctor($event)"
      [(visible)]="updatePopupVisible"
      [selectedDoctor]="selectedRow!">
    </app-doctor-update-popup>

    <dx-data-grid (onSelectionChanged)="onSelectionChanged($event)"
                  [(selectedRowKeys)]="selectedRowKeys"
                  [columnAutoWidth]="true"
                  [columnHidingEnabled]="true"
                  [dataSource]="customDataSource"
                  [focusedRowEnabled]="false"
                  [showBorders]="true"
                  class="dx-card wide-card">

      <dxo-selection mode="single"></dxo-selection>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showInfo]="true" [showPageSizeSelector]="true"></dxo-pager>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-editing [allowDeleting]="true" [confirmDelete]="true" mode="row"></dxo-editing>

      <dxi-column [width]="90" caption="ID" dataField="id"></dxi-column>
      <dxi-column caption="First Name" dataField="firstName"></dxi-column>
      <dxi-column caption="Last name" dataField="familyName"></dxi-column>
      <dxi-column caption="Username" dataField="username"></dxi-column>
      <dxi-column caption="Email" dataField="email"></dxi-column>
    </dx-data-grid>

  </div>
</div>
