<h2 class="content-block">Test Type List</h2>
<div class="content-block">

  <div class="dx-card responsive-paddings">

    <!--    todo: error for exiting popup-->
    <!--    button & popup for creating new testType -->
    <dx-button (click)="this.createPopupVisible=true;" text="Add Test Type"></dx-button>
    <dx-popup
      [(visible)]="createPopupVisible"
      [dragEnabled]="false"
      [height]="400"
      [showTitle]="true"
      [width]="300"
      [hideOnOutsideClick]="true"
      [showCloseButton]="true"
      title="Add New Test Type">
      <div *dxTemplate="let data of 'content'">

        <form (submit)="createTestType($event)">
          <dx-form [formData]="createTestTypeFormData">

            <dxi-item [editorOptions]="{stylingMode: 'filled', placeholder: 'Test Type Name'}" dataField="name" editorType="dxTextBox">
              <dxi-validation-rule message="Name is required" type="required"></dxi-validation-rule>
              <dxo-label [visible]="false"></dxo-label>
            </dxi-item>

            <dxi-item itemType="button">
              <dxo-button-options
                [text]="'Create New Test Type'"
                [useSubmitBehavior]="true"
                type="default"
                width="100%"
              >
              </dxo-button-options>
            </dxi-item>

          </dx-form>
        </form>
      </div>
    </dx-popup>

    <!--  button & popup for updating testType -->
    <dx-button (click)="this.updatePopupVisible = true" text="Update Test Type"></dx-button>
    <dx-popup
      [(visible)]="updatePopupVisible"
      [dragEnabled]="false"
      [height]="400"
      [showTitle]="true"
      [width]="300"
      [hideOnOutsideClick]="true"
      [showCloseButton]="true"
      title="Update Test Type">
      <div *dxTemplate="let data of 'content'">

        <form (submit)="updateTestType($event)">
          <dx-form [formData]="updateTestTypeFormData">

            <dxi-item [editorOptions]="{stylingMode: 'filled',placeholder: selectedRow.name}" dataField="name" editorType="dxTextBox">
              <dxi-validation-rule message="Name is required" type="required"></dxi-validation-rule>
              <dxo-label [visible]="false"></dxo-label>
            </dxi-item>

            <dxi-item itemType="button">
              <dxo-button-options
                [text]="'Update Test Type'"
                [useSubmitBehavior]="true"
                type="default"
                width="100%"
              >
              </dxo-button-options>
            </dxi-item>

          </dx-form>
        </form>
      </div>
    </dx-popup>

    <!--    Datagrid that lists all the test types -->
    <dx-data-grid [columnAutoWidth]="true"
                  [columnHidingEnabled]="true"
                  [dataSource]="customDataSource"
                  [focusedRowEnabled]="false"
                  [showBorders]="true"
                  (onSelectionChanged)="onSelectionChanged($event)"
                  [(selectedRowKeys)]="selectedRowKeys"
                  class="dx-card wide-card">

      <dxo-selection mode="single"></dxo-selection>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showInfo]="true" [showPageSizeSelector]="true"></dxo-pager>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-editing mode="row" [allowDeleting]="true" [confirmDelete]="true"></dxo-editing>

      <dxi-column [width]="90" caption="ID" dataField="id"></dxi-column>
      <dxi-column [width]="250" caption="Test Name" dataField="name"></dxi-column>
    </dx-data-grid>
  </div>

</div>
