<h2 class="content-block">Test Type List</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <ng-container *ngIf="isAdmin">

      <dx-button (click)="this.createPopupVisible=true;"
                 text="Add Test Type"></dx-button>
      <app-create-test-type-popup
        (createTestType)="createTestType($event)"
        [(visible)]="createPopupVisible">
      </app-create-test-type-popup>

      <dx-button (click)="this.updatePopupVisible = true"
                 [disabled]="!this.selectedRow"
                 text="Update Test Type"></dx-button>
      <app-update-test-type-popup
        (updateTestType)="updateTestType($event)"
        [(visible)]="updatePopupVisible"
        [selectedTestType]="selectedRow!">
      </app-update-test-type-popup>
    </ng-container>

    <dx-data-grid
      (onSelectionChanged)="onSelectionChanged($event)"
      [(selectedRowKeys)]="selectedRowKeys"
      [columnAutoWidth]="true"
      [columnHidingEnabled]="true"
      [dataSource]="customDataSource"
      [focusedRowEnabled]="false"
      [showBorders]="true"
      class="dx-card wide-card">

      <dxo-selection mode="single"></dxo-selection>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showInfo]="true" [showPageSizeSelector]="true"></dxo-pager>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-editing [allowDeleting]="isAdmin" [confirmDelete]="true" mode="row"></dxo-editing>

      <dxi-column [width]="90" caption="ID" dataField="id"></dxi-column>
      <dxi-column [width]="250" caption="Test Name" dataField="name"></dxi-column>
    </dx-data-grid>
  </div>
</div>
