<h2 class="content-block">Test Type List</h2>
<div class="content-block">

  <div class="dx-card responsive-paddings">

    <dx-button (click)="this.createPopupVisible=true;" text="Add Test Type"></dx-button>
    <app-create-test-type-popup
      [(visible)]="createPopupVisible"
      (createTestType)="createTestType($event)">
    </app-create-test-type-popup>

    <!--  button & popup for updating testType -->
    <dx-button (click)="this.updatePopupVisible = true" text="Update Test Type"></dx-button>
    <app-update-test-type-popup
      [(visible)]="updatePopupVisible"
      [selectedTestType]="selectedRow"
      (updateTestType)="updateTestType($event)">
    </app-update-test-type-popup>


    <!--    Datagrid that lists all the test types -->
    <dx-data-grid [columnAutoWidth]="true"
                  [columnHidingEnabled]="true"
                  [dataSource]="customDataSource"
                  [focusedRowEnabled]="false"
                  [showBorders]="true"
                  (onSelectionChanged)="onSelectionChanged($event)"
                  [(selectedRowKeys)]="selectedRowKeys"
                  class="dx-card wide-card">

      <dxo-selection mode="single"></dxo-selection>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showInfo]="true" [showPageSizeSelector]="true"></dxo-pager>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-editing mode="row" [allowDeleting]="true" [confirmDelete]="true"></dxo-editing>

      <dxi-column [width]="90" caption="ID" dataField="id"></dxi-column>
      <dxi-column [width]="250" caption="Test Name" dataField="name"></dxi-column>
    </dx-data-grid>
  </div>

</div>
